<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYPHONGKHAM.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-B9L5P09\TRANLEKIMBAO;Initial Catalog=QUANLYPHONGKHAM;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>