USE [master]
GO
/****** Object:  Database [QUANLYPHONGKHAM]    Script Date: 5/21/2024 12:25:56 PM ******/
CREATE DATABASE [QUANLYPHONGKHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYPHONGKHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRANLEKIMBAO\MSSQL\DATA\QUANLYPHONGKHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYPHONGKHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRANLEKIMBAO\MSSQL\DATA\QUANLYPHONGKHAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYPHONGKHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYPHONGKHAM]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaBN] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](5) NOT NULL,
	[sdt] [nchar](20) NULL,
	[diaChi] [nvarchar](100) NULL,
	[CCCD] [nchar](12) NULL,
	[ngaySinh] [date] NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[tenDV] [nvarchar](50) NULL,
	[gia] [int] NOT NULL,
	[donViTinh] [nvarchar](10) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[MaLoaidichvu] [int] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[tongTien] [decimal](18, 0) NOT NULL,
	[MaPK] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ketLuan] [nvarchar](50) NULL,
	[moTa] [nvarchar](50) NULL,
	[Mapk] [int] NULL,
	[Madv] [int] NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDichVu] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiDichVu] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiDichVu] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopThuoc]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopThuoc](
	[MaLopThuoc] [int] IDENTITY(1,1) NOT NULL,
	[tenLopThuoc] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LopThuoc] PRIMARY KEY CLUSTERED 
(
	[MaLopThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[diaChi] [nvarchar](50) NULL,
	[taiKhoan] [nchar](15) NULL,
	[matKhau] [nchar](10) NULL,
	[CCCD] [nchar](12) NULL,
	[chucVu] [nvarchar](50) NULL,
	[hinhAnh] [nchar](20) NULL,
	[ngayVaoLam] [date] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[MaPK] [int] IDENTITY(1,1) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[canNang] [nvarchar](50) NULL,
	[lyDoKham] [nvarchar](50) NULL,
	[ChuanDoan] [nvarchar](50) NULL,
	[MaNV] [int] NULL,
	[MaBN] [int] NULL,
	[ketLuan] [nvarchar](50) NULL,
	[ngayTaiKham] [date] NULL,
	[ghiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuKham] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham_Thuoc]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham_Thuoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[soLuong] [int] NULL,
	[soNgay] [int] NULL,
	[lieuDUng] [nvarchar](50) NULL,
	[MaPK] [int] NULL,
	[MaThuoc] [int] NULL,
 CONSTRAINT [PK_PhieuKham_Thuoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/21/2024 12:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [int] IDENTITY(1,1) NOT NULL,
	[tenThuoc] [nvarchar](50) NULL,
	[cachDung] [nvarchar](50) NOT NULL,
	[thanhPhan] [nvarchar](50) NOT NULL,
	[donViTinh] [nvarchar](10) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[MaLopThuoc] [int] NULL,
	[hamLuongNDo] [nvarchar](100) NULL,
	[dangBaoChe] [nvarchar](50) NULL,
	[hinhAnh] [nchar](20) NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [ForgeignKey_MaLoaidichvu] FOREIGN KEY([MaLoaidichvu])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [ForgeignKey_MaLoaidichvu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_MaPK] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKham] ([MaPK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_MaPK]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_MaPKham] FOREIGN KEY([Mapk])
REFERENCES [dbo].[PhieuKham] ([MaPK])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_MaPKham]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FKey_Madichvu] FOREIGN KEY([Madv])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FKey_Madichvu]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FKey_MaBN] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhan] ([MaBN])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FKey_MaBN]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FKey_Manv] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FKey_Manv]
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc]  WITH CHECK ADD  CONSTRAINT [FKey_MaPK] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKham] ([MaPK])
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc] CHECK CONSTRAINT [FKey_MaPK]
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc]  WITH CHECK ADD  CONSTRAINT [FKey_MaThuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc] CHECK CONSTRAINT [FKey_MaThuoc]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FKey_MaLopThuoc] FOREIGN KEY([MaLopThuoc])
REFERENCES [dbo].[LopThuoc] ([MaLopThuoc])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FKey_MaLopThuoc]
GO
USE [master]
GO
